<section class="upsell__section">
  <h2 class="upsell__section_title">{{ title }}</h2>

  <div id="upsell__section_list" class="upsell__section_list">
    <section class="splide splide_upsell" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <upsell-product class="upsell-product splide__list" data-product-hanlde="{{ product.handle }}">
        </upsell-product>
      </div>
    </section>
  </div>
</section>
